

html { /*url de la imagen*/
  font-size: 10px;
  background: url(metallica/metallica-hardwired.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Color de las letras*/
.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key { /*Cuadros de texto formato*/
  border: .4rem solid #FFFFFF;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: #FFFFFF;
  background: rgb(0, 0, 0);
  text-shadow: 0 0 .5rem #FBFF00;
  opacity: 0.5;
}
/*Letras de abajo ponerle el color y tipo*/
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
