html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*sirve para los gradientes de colores del background*/
body {
  min-height: 5vh;
  margin: 0; /* Important! */
  font-family: sans-serif;
  background:

    linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
    linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, #F91F1F 100%, hsla(35, 95%, 55%, 0) 70%);
}
/*parametros para todo el texto*/
.wrapper {
  color:#C9C9D8;
  margin:0 auto;
  max-width:600px;
  font-size: 20px;
  line-height: 2;
  position: relative;
}
/*decoracion que lleva e link en el text*/
a {
  text-decoration: none;
  color:#FFFFFF;
  background:rgba(14, 0, 0, 0.05);
  border-radius: 20px
}
/*los detalles del selector*/
.highlight {
  transition: all 0.1s;
  border-bottom:25px solid #332300;
  position: absolute;
  top:0;
  background:#F8FFA8;
  left:0;
  z-index: -1;
  border-radius:80px;
  display: block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2)
}

.menu {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  margin:100px 0;
}

.menu a {
  display: inline-block;
  padding:5px;
  margin:0 20px;
  color:#D3CFCF;
}
